@import "vars";
@import "normalize";
@import "reset";
@import "ui";
@import "../node_modules/sweetalert/dist/sweetalert";
@import "sweetalert-overrides";

* {
    box-sizing: border-box;
    position: relative;
}

body {
    color: #575757;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.block { display: block; }
.tight { margin: 0; padding: 0; }
.no-list { list-style-type: none; }

.h100 {
    height: 100%;
}

p:empty {
    display: none;
}

$admin_width: 160px;

#container {
    position: absolute;
    left: $admin-width;
    top: 0;
    height: 100vh;
    width: calc(100% - #{$admin_width});
}

canvas {
    transition: 0.2s opacity;
}

.faded {
    opacity: 0;
}

#controls {
    background: #fff;
    border-top: 1px solid #999;
    bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 1em;
    position: fixed;
    text-align: center;
}

.monospace {
    font-family: Monospace;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2em;
}

.monospace:first-child {
    padding-left: 0;
}

a, a:visited {
    color: #77c;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #99d;
}

#admin {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    height: 100vh;
    padding: 10px;
    position: absolute;
    width: $admin_width;
}
    
    .photo {
        background-position: center center;
        background-size: cover;
        height: 90px;
        width: 100%;
    }

    .help {
        bottom: 10px;
        left: 0;
        text-align: center;
        position: absolute;
        width: 100%;

        span {
            border: 2px solid;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            height: 26px;
            width: 26px;

            &:active, &:focus, &:hover {
                color: #999;
            }
        }
    }

img {
    height: auto;
    max-width: 100%;
}

.zones {
    font-size: 14px;
    margin-top: 1em;

    li {
        cursor: pointer;
        padding: 2px;

        &:active, &:focus, &:hover {
            color: #555;
        }
    }

    .underline {
        border-bottom: 1px solid;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .active {
        background: #bbe;
    }
}

.new-zone-button {
    margin-top: 1em;
}

.time-range-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    position: fixed;
    bottom: 1.5em;
    left: calc(50% - 100px);
    width: 210px;

    label,
    input {
        float: left;
        margin: 0;
        padding: 0;
    }

    label {
        width: 50px;
    }

    input {
        border: 0;
        width: 146px;
    }
}