@import "vars";
@import "normalize";
@import "reset";
@import "ui";
@import "../node_modules/sweetalert/dist/sweetalert";
@import "sweetalert-overrides";

* {
    box-sizing: border-box;
    position: relative;
}

.block { display: block; }
.tight { margin: 0; padding: 0; }
.no-list { list-style-type: none; }

$admin_width: 140px;

#container {
    position: absolute;
    left: $admin-width;
    top: 0;
    height: 100vh;
    width: calc(100% - #{$admin_width});
}

canvas {
    transition: 0.2s opacity;
}

.faded {
    opacity: 0;
}

#controls {
    background: #fff;
    border-top: 1px solid #999;
    bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 1em;
    position: fixed;
    text-align: center;
}

.monospace {
    font-family: Monospace;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2em;
}

.monospace:first-child {
    padding-left: 0;
}

a, a:visited {
    color: #77c;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #99d;
}

#admin {
    background: #fff;
    height: 100vh;
    padding: 10px;
    position: absolute;
    width: $admin_width;
}

img {
    height: auto;
    max-width: 100%;
}

.zones {
    font-size: 14px;
    margin-top: 1em;

    li {
        cursor: pointer;
        padding: 2px;

        &:active, &:focus, &:hover {
            color: #555;
        }
    }

    .underline {
        border-bottom: 1px solid;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .active {
        background: #bbe;
    }
}

.new-zone-button {
    margin-top: 1em;
}

.time-range-container {
    position: fixed;
    bottom: 1.5em;
    left: calc(50% - 100px);
    width: 200px;

    label,
    input {
        float: left;
        padding: 0;
    }

    label {
        top: -3px;
        width: 50px;
    }

    input {
        width: 150px;
    }
}