@import "vars";
@import "normalize";
@import "reset";
@import "ui";

* {
    position: relative;
}

.block {
    display: block;
}

$admin_width: 120px;

#container {
    position: absolute;
    left: $admin-width;
    top: 0;
    height: 100vh;
    width: calc(100% - #{$admin_width});
}

canvas {
    transition: 0.2s opacity;
}

.faded {
    opacity: 0;
}

#controls {
    background: #fff;
    border-top: 1px solid #999;
    bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 1em;
    position: fixed;
    text-align: center;
}

.monospace {
    font-family: Monospace;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 2em;
}

.monospace:first-child {
    padding-left: 0;
}

a, a:visited {
    color: #77c;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    color: #99d;
}

#admin {
    background: #fff;
    height: 100vh;
    padding: 10px;
    position: absolute;
    width: $admin_width;
}

img {
    height: auto;
    max-width: 100%;
}
